section
    h2 Services

    ul
        li
            b Constant/Value
            br
            span.small - Pass an instance
        li
            b Service
            br
            span.small - Pass a constructor function
        li
            b Factory
            br
            span.small - Pass a function that returns an instance
        li
            b Provider
            br
            span.small - Pass a function that returns a "service object"
        li
            b Decorator
            br
            span.small - Transform or replace an instance during creation