section
    h2 Service Patterns in AngularJS

    p by Jeremy Mason
    br

    .break
        h3 Download the slides
        div https://github.com/jeremyalan/AngularJS-ServicePatterns

    .break
        h3 Contact me
        div
            span jeremyalan@gmail.com
            br
            span Twitter @jeremyalan