section
    h2 Services

    p
        span Custom objects that are shared across your application

    .break
    ul
        li Singletons
        li
            span Injectable&nbsp;
            span.small > let's dig a little deeper...
