section
    h2 Dependency Injection

    div
        span Allows services to be passed into a dependent module,
        br
        span such as a controller, directive, or another service

    .break
    h3 Why should we care?
    ul
        li Supports testability
        li Discourages the use of global variables
        li
            div Allows for complex configuration scenarios
            div.text-center.small More on this later...
