section
    h2 Dependencies
    h3
        span.no-upper $inject

    ul
        li Use string values to counteract minification
        li $inject is tied to class declaration, not module registration

    pre.
        function MyService($http) {
            ...
        };
        <span class="highlight">MyService.$inject = ['$http'];</span>

        angular.module('myModule')
            .service('$myService', MyService);
