section
    h2 Modules

    p
        span Combines related components of your application
        br
        span into a single, reusable component

    .break
    ul
        li All other components reside within modules
        li Modules can depend on other modules
        li Delayed initialization
        li
            div
                span Modules are&nbsp;
                span.underline NOT
                span &nbsp;loaded async
            div.small
                span - still need RequireJS or similar